.will-change-transform {
  will-change: transform;
}

.cursor::after {
  display: block;
  content: '';
  position: absolute;
  width: 4px;
  height: 100%;
  background-color: rgb(66 40 0 / var(--tw-text-opacity));
  animation: cursor 0.4s linear infinite alternate;
  will-change: opacity;
}

@keyframes cursor {

  0%,
  40% {
    opacity: 1;
  }

  60%,
  100% {
    opacity: 0;
  }
}