.chat {
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: 80vh;
  width: 100%;
  margin: 0 0 10vh;
  margin-left: 100px;
  background-color: white;
}


ul,
li {
  text-align: left;

  list-style: none;
}

p {
  max-width: 500px;
  margin-bottom: 12px;
  line-height: 24px;
  padding: 10px 20px;
  margin: 10px 10px;
  border-radius: 25px;
  position: relative;
  text-align: center;

}


.chatroom {
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow-y: scroll;

}


.message {
  display: flex;
  align-items: center;
}


.sent {
  flex-direction: row-reverse;

}

/* .sent p {
  color: white;
  background: #0b93f6;
  align-self: flex-end;

} */

/* .received p {
  background: #e5e5ea;
  color: black;
} */

.message-input {
  display: flex;
  width: auto;


}

.input-message {
  display: flex;
  flex-grow: 0.5;
  font-size: 20px;
  border: none;
  background-color: transparent;
  outline: none;
  border: 1px solid #E86158;
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 10px;
  color: rgb(83, 82, 82);
  font-family: 'Source Sans Pro', sans-serif;
}
